{% extends "base.html" %}
{% block title %}削除{% endblock %}
{% block h2 %}削除{% endblock %}

{% block content %}
    <form method='POST'>
        {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">営業番号</th>
            <th scope="col">アポ相手</th>
            <th scope="col">年齢</th>
            <th scope="col">仕事</th>
            <th scope="col">住まい</th>
            <th scope="col">ニーズ</th>
            <th scope="col">結果</th>
            <th scope="col">特徴</th>
            </tr>
        </thead>
        <div class="p-4">
            <th scope="row">{{ object.id }}</th>
            <td>{{ object.user_id }}</td>
            <td>{{ object.customer_name }}</td>
            <td>{{ object.age }}</td>
            <td>{{ object.work }}</td>
            <td>{{ object.place }}</td>
            <td>{{ object.wants }}</td>
            <td>{{ object.result }}</td>
            <td>{{ object.other }}</td>
        </div>
    </table>
    <button class="btn btn-primary" type="submit">削除する</button>
    </form>
{% endblock content %}